@model Aeroporto.Models.Voo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AeroportoOrigem" class="control-label"></label>
                <input asp-for="AeroportoOrigem" class="form-control" />
                <span asp-validation-for="AeroportoOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AeroportoDestino" class="control-label"></label>
                <input asp-for="AeroportoDestino" class="form-control" />
                <span asp-validation-for="AeroportoDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSaida" class="control-label"></label>
                <input asp-for="HorarioSaida" class="form-control" />
                <span asp-validation-for="HorarioSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioChegada" class="control-label"></label>
                <input asp-for="HorarioChegada" class="form-control" />
                <span asp-validation-for="HorarioChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponibilidade" class="control-label"></label>
                <input asp-for="Disponibilidade" class="form-control" />
                <span asp-validation-for="Disponibilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAeronave" class="control-label"></label>
                <select asp-for="IdAeronave" class="form-control" asp-items="ViewBag.IdAeronave"></select>
                <span asp-validation-for="IdAeronave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
